.b-button {
    background-color: var(--color-background-contrast);
    border: 2px solid var(--color-text-pale);
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: var(--color-kenjo-green);
    }
    &:active {
        background-color: var(--color-text-pale);
        color: var(--color-background-contrast);
    }
    &__main {
        font-weight: 700;
        padding: 24px;
    }
    &__card {
        font-weight: 700;
        padding: 6px 14px;
    }
}