.b-form{

    display: flex;
    flex-direction: column;
    align-items: center;

    &__group {
        margin-bottom: 12px;
    }
    &__label {
        display: block;
        margin-bottom: 6px;
    }
    &__input {
        display: block;
        &--warning {
            border: 2px solid var(--color-warning);
        }
    }
    &__warning {
        color: var(--color-warning);
        font-size: var(--font-size-footnote);
    }
}