body {
    --color-background-main: rgb(223, 223, 223);
    --color-background-contrast: rgb(252, 252, 252);
    --color-text-pale: rgb(64, 64, 64);
    --color-kenjo-green: rgba(0, 250, 123,0.3);
    --color-warning: red;
    
}