@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.c-gallery-artists {

    &__image-wrap {
        width: 100%;
        height: 18vw;
        margin-bottom: 12px;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title {
        margin-bottom: 6px;
        @include media-breakpoint-up(md) {
            font-weight: 700;
        }
    }
    &__text{
        margin-bottom: 24px;
        font-size: 1.2rem;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

}