
<div *ngIf="albumList"> 
    <div class="c-gallery">
        <div class="container">
            <div class="row">
                <div class="col-3 mb-4" *ngFor="let album of albumList">

                    <div class="c-gallery__item">
                        <div class="c-gallery__image-wrap">
                            <img class="c-gallery__image" src="{{album.coverUrl}}" alt="{{album.title}} cover">    
                        </div>
                        <h2 class="c-gallery__title">{{album.title}}</h2>
                        <div class="c-gallery__text">
                            <p>{{album.year}}</p>
                            <p>{{album.genre}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="b-button b-button__card" [routerLink]="['/albums/edit/'+ album._id]">Edit</button>
                            <button class="b-button b-button__card" (click)="albumDelete(album._id)">Delete</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
